<div class='d-flex flex-column position-absolute top-50 start-50 translate-middle'>
    <%= render partial: "layouts/errors", locals: {object: @lesson} %>
    <h1>New Session</h1>
    <%= render partial: "form" %>
</div>